.header{
    display: flex;
    justify-content: flex-start;
    gap:20px;
    align-items: center;
    z-index: 5;

    box-sizing: border-box;
    position: fixed;
    width:100%;
    left: 0;
    top: 0;
    height: 44px;
    padding:0px 18px;

    
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
}

.headerItem:first-child{
    margin-right: 85px;
    box-sizing: border-box;
}